## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: qxl-xorg-enhance
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime, genmkfile
Homepage: https://github.com/HulaHoopWhonix/qxl-xorg-enhance
Vcs-Browser: https://github.com/HulaHoopWhonix/qxl-xorg-enhance
Vcs-Git: https://github.com/HulaHoopWhonix/qxl-xorg-enhance.git
Standards-Version: 3.9.6

Package: qxl-xorg-enhance
Architecture: all
Depends: ${misc:Depends}
Description: Improve QXL Rendering Performance
 This package optimizes the QXL Xorg driver in VMs.
 .
 Technically speaking, this package creates the configuration file
 50-qxl.conf in /usr/share/X11/xorg.conf.d/
